.App {
  text-align: center;
}

body {
  background-color: rgb(224, 230, 230);
  /* padding: 200px; */
}


.viewProfileButton {
  border: none;
  background-color: white;
  color: blue;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.logoimage {
  width: 30px;
  height: 30px;
  margin-bottom: 3px;


}

.navbar {

  background-color: #18164d;
  width: 100%;
}

/* 
.container {
  display: grid;
} */

.container1 {
  display: grid;
  grid-template-columns: 200px 1fr;
  grid-template-rows: 60px 1fr 60px;
  gap: 1em 1em;
  grid-auto-flow: row;
  grid-template-areas:
    "header header"
    "content content"
    "footer footer";
}

#root {
  position: relative;
  min-height: 100vh;
  padding-bottom: 2.5rem;
}


.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
}

.headlineInfo {}

.personalityType {}